.btn {
	background-color: var(--blue);
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	color: white;
	font-size: 16px;
	transition: all 0.25s;
	cursor: pointer;
}

.btn-w {
	width: 100%;
}

.btn:hover {
	background-color: var(--blue2);
}

.btn-font {
	color: var(--blue);
	font-weight: bold;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.btn-font:hover {
	color: var(--blue2);
}

.btn-font-lt {
	color: black;
	font-weight: lighter;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 16px;
}

.btn-font-lt:hover {
	color: var(--blue2);
}
