.error-list {
	font-size: 14px;
	color: var(--error);
	padding: 10px;
	/* backdrop-filter: blur(10px); */
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

.error-ctr {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
