.property-ctrl {
	display: grid;
	grid-template-columns: 7fr 8fr;
	width: 88vw;
	height: 100vh;
	background-color: white;
}

.property-ctrl > i {
	position: absolute;
	color: white;
	right: -30px;
	top: 10px;
	font-size: 24px;
	cursor: pointer;
}

/* Property Images */
.property-imgs-ctrl {
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
	white-space: nowrap;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.property-front {
	width: 100%;
	padding-top: 100%;
	background-size: cover;
	background-position: center;
}

.property-imgs-wrap {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5px;
}

.property-img {
	width: 100%;
	padding-top: 100%;
	background-size: cover;
	background-position: center;
}

.property-img-bottom {
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.property-img-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	gap: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	backdrop-filter: blur(5px);
	white-space: normal;
}

.property-img-caption {
	font-size: 22px;
	line-height: 36px;
	text-align: center;
	color: white;
}

@media screen and (max-width: 1126px) {
	.property-ctrl {
		width: 100vw;
	}
}
