.review-box {
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-top: 1px solid gray;
	padding: 20px 0px;
}

.reveiew-char {
	font-size: 14px;
	font-weight: lighter;
	color: var(--error);
}

.review-rating {
	display: flex;
	align-items: flex-end;
	gap: 10px;
}

.review .edit-wrap i {
	cursor: pointer;
}

.review .review-star {
	height: 30px;
	display: flex;
	align-items: center;
}

/* Edit Review */
.review .edit-textarea-wrap {
	display: flex;
	flex-direction: column;
}

.review .btn-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	gap: 30px;
}

.review .btn-group {
	display: flex;
	flex-direction: row;
	gap: 30px;
}

/* Delete Review */
.review-delete {
	background-color: white;
	padding: 40px;
	border-radius: 10px;
	width: 500px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.review-delete .title {
	font-size: 24px;
	font-weight: bold;
}

.review-delete .content {
	font-size: 18px;
	line-height: 24px;
	font-weight: lighter;
	padding: 20px;
	background-color: var(--lightblue);
	border-radius: 10px;
	border: 1px solid var(--blue);
}

.review-delete .btn-wrap {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}
